@inherits FluxorComponent
@inject IState<GameState> GameState

@if (GameState.Value.Status == GameStatus.Lobby)
{
    <StartRoundButton />
}
else if (GameState.Value.Status == GameStatus.CollectingAnswers && GameState.Value.Me?.Status == PlayerStatus.PlayingAnswer)
{
    <PlayAnswerButton />
}
else if (GameState.Value.Status == GameStatus.CollectingAnswers)
{
    <p class="my-2 w-100 text-center">Please wait for everyone to play their answer.</p>
}
else if (GameState.Value.Status == GameStatus.SelectingWinner && GameState.Value.Me?.Status == PlayerStatus.SelectingWinner)
{
    <ConfirmWinnerButton />
}
else if (GameState.Value.Status == GameStatus.SelectingWinner)
{
    <p class="my-2 w-100 text-center">Please wait for the CardCzar to pick the winner.</p>
}

