@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject HubConnection HubConnection

@if (GameCode == string.Empty)
{
    <StartupModal OnGameJoined="@OnGameJoined" />
}
else
{
    <h2>Game Joined: @GameCode (@Username)</h2>
}


@code {
    string GameCode { get; set; } = string.Empty;
    string Username { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await HubConnection.StartAsync();
    }

    void OnGameJoined((string GameCode, string UserName) param)
    {
        GameCode = param.GameCode;
        Username = param.UserName;
    }
}
