@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject HubConnection HubConnection
@inject GameStateContainer GameState

<SignalRListeners />

@if (GameState.State == Client.GameState.New)
{
    <StartupModal />
}
else if (GameState.State == Client.GameState.Joined)
{
    <LobbyModal />
}
else if (GameState.State == Client.GameState.PickAnswerCards)
{
    <GameBoard />
}
else if (GameState.State == Client.GameState.AwaitAnswerCards)
{
    <p>You're the CardCzar!</p>
}


@code {

    protected override async Task OnInitializedAsync()
    {
        GameState.OnChange += StateHasChanged;
    }
}
