@page "/"
@using CardsAgainstWhatever.Client.Components.Startup
@inherits FluxorComponent
@inject IState<ServerState> ServerState
@inject IState<GameState> GameState

@if (ServerState.Value.Status == ServerStatus.Connecting)
{
    <div class="vh-100 w-100 d-flex justify-content-center align-items-center flex-column">

        <h1>Cards Against Whatever</h1>

        <div class="spinner-border text-primary m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <h3>
            <small class="text-muted">Connecting to server...</small>
        </h3>
    </div>
}
else if (ServerState.Value.Status == ServerStatus.Reconnecting)
{
    <div class="vh-100 w-100 d-flex justify-content-center align-items-center flex-column">

        <h1>Cards Against Whatever</h1>

        <div class="spinner-border text-primary m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <h3>
            <small class="text-muted">Reconnecting to server...</small>
        </h3>
    </div>
}
else if (ServerState.Value.Status == ServerStatus.Disconnected)
{
    <div class="vh-100 w-100 d-flex justify-content-center align-items-center flex-column">

        <h1>Cards Against Whatever</h1>

        <h3>
            <small class="text-muted">Failed to connect to game server.</small>
        </h3>
    </div>
}
else
{
    <GameBoard />

    @if (GameState.Value.GameCode is null)
    {
        <StartupModal />
    }
}


