@inherits FluxorComponent
@inject IState<GameState> GameState
@inject IDispatcher Dispatcher

<section class="card" style="@CssStyle">
    <div class="card-header">
        <b>Your Hand</b>
    </div>
    <div class="card-body p-0">
        @if (GameState.Value.CardsInHand is null)
        {
            <p>You don't have any cards in your hand right now.</p>
        }
        else
        {

            <div class="game-card-list">
                @foreach (var card in GameState.Value.CardsInHand)
                {
                    <article class="game-card selectable-game-card answer-card" @onclick="() => OnCardSelected(card)">
                        <div class="dummy"></div>
                        <header class="game-card-header">
                            <h3>@card.Text</h3>
                        </header>
                        @if (GameState.Value.SelectedCardsInHand?.Contains(card) ?? false)
                        {
                            <div class="game-card-footer">
                                <span>Picked</span>
                            </div>
                        }
                    </article>
                }
            </div>
        }
    </div>
</section>

@code {
    [Parameter]
    public string CssStyle { get; set; } = string.Empty;

    void OnCardSelected(AnswerCard card) => Dispatcher.Dispatch(new AnswerSelectedAction(card));
}
