@inject BlazorComponentBus.ComponentBus Bus

<section class="card" style="@CssStyle">
    <div class="card-header d-flex justify-content-between align-items-center">
        <b>Cards Against Whatever!</b>
        <button type="button" class="btn btn-sm btn-danger">Leave</button>
    </div>
    <div class="card-body">
        <p>Game Code: <b>@Code</b></p>
        <p>Username: <b>@Username</b></p>
        <p>
            <hr>
        </p>
        <p>Round: <b>@RoundNumber</b></p>
        <p>Card Czar: <b>@CardCzar?.Username</b></p>
        <p>
            <hr>
        </p>
    </div>
    <div class="card-footer bg-white">
        <MainActionButton />
    </div>
</section>

@code {
    [Parameter]
    public string CssStyle { get; set; }

    private string Code;
    private string Username;
    private int RoundNumber;
    private Player CardCzar;


    protected override async Task OnInitializedAsync()
    {
        Bus.Subscribe<GameJoinedEvent>(args => OnGameJoined(args.GetMessage<GameJoinedEvent>()));
        Bus.Subscribe<RoundStartedEvent>(args => OnRoundStarted(args.GetMessage<RoundStartedEvent>()));
    }

    void OnGameJoined(GameJoinedEvent gameJoinedEvent)
    {
        Code = gameJoinedEvent.Code;
        Username = gameJoinedEvent.Username;
        StateHasChanged();
    }

    void OnRoundStarted(RoundStartedEvent roundStartedEvent)
    {
        RoundNumber = roundStartedEvent.RoundNumber;
        CardCzar = roundStartedEvent.CardCzar;
        StateHasChanged();
    }

}
