
<div id="game-board" class="p-4">
    <DetailsPane CssStyle="grid-column: 1 / 2; grid-row: 1;" />

    <QuestionCardPane CssStyle="grid-column: 2 / 3; grid-row: 1;" />

    <PlayersListPane CssStyle="grid-column: 3 / 4; grid-row: 1;" />

    <CardsInHandPane CssStyle="grid-column: 1 / 4; grid-row: 2;" />
    <CardsOnTablePane CssStyle="grid-column: 1 / 4; grid-row: 2;" />
</div>

@code {

}
