@inherits FluxorComponent
@inject IState<GameState> GameState

<section class="card" style="@CssStyle">
    <div class="card-header">
        <b>Players</b>
    </div>
    @if (GameState.Value.Players is null)
    {
        <p>There aren't any players right now.</p>
    }
    else
    {
        <ul class="list-group list-group-flush" style="overflow-y: auto;">
            @foreach (var player in GameState.Value.Players)
            {
                <li class="list-group-item">@player.Username (@player.Score)<span class="float-right">@player.State.ToString()</span></li>
            }
            <li class="list-group-item"></li>
        </ul>
    }
</section>

@code {
    [Parameter]
    public string CssStyle { get; set; } = string.Empty;

}
