@inherits FluxorComponent
@inject IState<GameState> GameState

<section class="card" style="@CssStyle">
    <div class="card-body">
        @if (GameState.Value.CurrentQuestion is not null)
        {
            <article class="game-card question-card" style="width: 30%; margin: 0 auto;">
                <div class="dummy"></div>
                <header class="game-card-header">
                    <h3>@GameState.Value.CurrentQuestion.Text</h3>
                </header>

                @if (GameState.Value.CurrentQuestion.Picks > 1)
                {
                    <div class="game-card-footer">
                        <span>Pick @GameState.Value.CurrentQuestion.Picks</span>
                    </div>
                }
            </article>
        }
    </div>
</section>

@code {
    [Parameter]
    public string CssStyle { get; set; } = string.Empty;

}
